.download-panel{
    display: flex;
    align-items: top;
    padding: 0.8rem 3rem 0.8rem 3rem;
    box-sizing: border-box;
    background-color: var(--bg-alt);
    border-radius: 1.4rem;

    .download-panel__caption{ 
        margin-right: 1rem;
        padding: 2.3rem 0;
        box-sizing: border-box;
        font-size: 1.5rem;
        line-height: 1.4;
        color: var(--blue);
        font-weight: 700;

    }
    .download-panel__files-box{
        flex-grow: 1;
        text-align: right;
    }

    .file-elem,
    .download-panel__caption{
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 600px){
    .download-panel{
        flex-direction: column; 
        padding: 0.8rem 2rem 0.8rem 2rem;
        .file-elem{
            display: block;
        }
    }
}