@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-Regular.eot);
    src: url(../fonts/Nunito/Nunito-Regular.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Nunito/Nunito-Regular.otf) format('otf'),
         url(../fonts/Nunito/Nunito-Regular.svg#Nunito-Regular) format('svg'),
         url(../fonts/Nunito/Nunito-Regular.ttf) format('truetype'),
         url(../fonts/Nunito/Nunito-Regular.woff) format('woff'),
         url(../fonts/Nunito/Nunito-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: block;
  }
  
@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-Medium.eot);
    src: url(../fonts/Nunito/Nunito-Medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Nunito/Nunito-Medium.otf) format('otf'),
         url(../fonts/Nunito/Nunito-Medium.svg#Nunito-Medium) format('svg'),
         url(../fonts/Nunito/Nunito-Medium.ttf) format('truetype'),
         url(../fonts/Nunito/Nunito-Medium.woff) format('woff'),
         url(../fonts/Nunito/Nunito-Medium.woff2) format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-SemiBold.eot);
    src: url(../fonts/Nunito/Nunito-SemiBold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Nunito/Nunito-SemiBold.otf) format('otf'),
         url(../fonts/Nunito/Nunito-SemiBold.svg#Nunito-SemiBold) format('svg'),
         url(../fonts/Nunito/Nunito-SemiBold.ttf) format('truetype'),
         url(../fonts/Nunito/Nunito-SemiBold.woff) format('woff'),
         url(../fonts/Nunito/Nunito-SemiBold.woff2) format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-Bold.eot');
    src: url('../fonts/Nunito/Nunito-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito/Nunito-Bold.svg#Nunito-Bold') format('svg'),
         url('../fonts/Nunito/Nunito-Bold.ttf') format('truetype'),
         url('../fonts/Nunito/Nunito-Bold.woff') format('woff'),
         url('../fonts/Nunito/Nunito-Bold.woff2') format('woff2');
    font-weight: 700; 
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraBold.eot');
    src: url('../fonts/Nunito/Nunito-ExtraBold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito/Nunito-ExtraBold.svg#Nunito-ExtraBold') format('svg'),
         url('../fonts/Nunito/Nunito-ExtraBold.ttf') format('truetype'),
         url('../fonts/Nunito/Nunito-ExtraBold.woff') format('woff'),
         url('../fonts/Nunito/Nunito-ExtraBold.woff2') format('woff2');
    font-weight: 800; 
    font-style: normal;
    font-display: block;
  }
  @font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito/Nunito-Black.eot);
    src: url(../fonts/Nunito/Nunito-Black.eot?#iefix) format('embedded-opentype'),
         url(../fonts/Nunito/Nunito-Black.svg#Nunito-Black) format('svg'),
         url(../fonts/Nunito/Nunito-Black.otf) format('otf'),
         url(../fonts/Nunito/Nunito-Black.ttf) format('truetype'),
         url(../fonts/Nunito/Nunito-Black.woff) format('woff'),
         url(../fonts/Nunito/Nunito-Black.woff2) format('woff2');
    font-weight: 900; 
    font-style: normal;
    font-display: block;
  }
  
// -------------------ITALIC----------------------------
  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-MediumItalic.eot');
    src: url('../fonts/Nunito/Nunito-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito/Nunito-MediumItalic.svg#Nunito-MediumItalic') format('svg'),
         url('../fonts/Nunito/Nunito-MediumItalic.ttf') format('truetype'),
         url('../fonts/Nunito/Nunito-MediumItalic.woff') format('woff'),
         url('../fonts/Nunito/Nunito-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: block;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-SemiBoldItalic.eot');
    src: url('../fonts/Nunito/Nunito-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito/Nunito-SemiBoldItalic.svg#Nunito-SemiBoldItalic') format('svg'),
         url('../fonts/Nunito/Nunito-SemiBoldItalic.ttf') format('truetype'),
         url('../fonts/Nunito/Nunito-SemiBoldItalic.woff') format('woff'),
         url('../fonts/Nunito/Nunito-SemiBoldItalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: block;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-BoldItalic.eot');
    src: url('../fonts/Nunito/Nunito-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito/Nunito-BoldItalic.svg#Nunito-BoldItalic') format('svg'),
         url('../fonts/Nunito/Nunito-BoldItalic.ttf') format('truetype'),
         url('../fonts/Nunito/Nunito-BoldItalic.woff') format('woff'),
         url('../fonts/Nunito/Nunito-BoldItalic.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: block;
  }
  
  @font-face {
    font-family: 'Nunito';
    src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.eot');
    src: url('../fonts/Nunito/Nunito-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Nunito/Nunito-ExtraBoldItalic.svg#Nunito-ExtraBoldItalic') format('svg'),
         url('../fonts/Nunito/Nunito-ExtraBoldItalic.ttf') format('truetype'),
         url('../fonts/Nunito/Nunito-ExtraBoldItalic.woff') format('woff'),
         url('../fonts/Nunito/Nunito-ExtraBoldItalic.woff2') format('woff2');
    font-weight: 800;
    font-style: italic;
    font-display: block;
  }
  
  @font-face {
    font-family: 'Ubuntu';
    src: url('../fonts/Ubuntu/-Bold.eot');
    src: local('☺'), 
    url('../fonts/Ubuntu/Ubuntu-Bold.woff') format('woff'), 
    url('../fonts/Ubuntu/Ubuntu-Bold.ttf') format('truetype'),
    url('../fonts/Ubuntu/Ubuntu-Bold.svg') format('svg');
    font-weight: 700;
    font-style: normal;
    font-display: block;
  }

